@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.navbar{
text-align: center;
display: inline-flex; 
font-family: 'Roboto', sans-serif;
}

.bar{
    display: flex;
    padding-top: 10px;
}

.pinterest{
    color:#B10F2E;
    font-size: 30px;
    display: flex;
}

.loop {
    color: rgba(133, 126, 131, 0.673);
    font-size: 30px;
    background-color:rgb(240, 234, 239);
    padding: 6px;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
}

.search {
   border-style: solid;
   background-color:rgb(240, 234, 239);
   border-color: rgb(240, 234, 239);
   border-right-color:#E6E6EA;
   width: 600px;
   height: 30px;
}
 .custom-select {
   border: 0px;
   width: 90px;
   height: 30px;
   background-color:rgb(240, 234, 239);
   font-family: 'Roboto', sans-serif;
   font-size: 12px;
   -webkit-appearance: button;
   border-top-left-radius: 0%;
   border-bottom-left-radius: 0%;
   overflow: hidden;
   margin-right:20px;
   }
 
.icons {
    color: rgba(133, 126, 131, 0.673);
    font-size: 25px;
}

.navbar button{
    padding: 12px;
    color: rgba(133, 126, 131, 0.673);
    border-radius: 30%;
    border-style: none;
}

.navbar button:hover {
    background-color:rgb(240, 234, 239);
  }
